@import "./_variables.scss";

//RESET
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
  @media only screen and (-webkit-min-device-pixel-ratio: 1.25) {
    zoom: 0.8;
  }
  @media only screen and (-webkit-min-device-pixel-ratio: 1.5) {
    zoom: 0.65;
  }
}

///////////////////////////////////////////
//NAVBAR
///////////////////////////
.navbar {
  position: relative;
  z-index: 100;
  top: 0;
  width: 100%;
  height: 70px;
  background: transparent;
  padding: 1rem 0;

  @media screen and (max-width: 990px) {
    display: none;
  }
  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__logo {
    display: flex;
    justify-content: start;
    align-items: center;
  }
  &__menu {
    display: flex;
    justify-content: end;
    min-width: 55%;
    max-width: 70vw;
    @media screen and (max-width: 1200px) {
      min-width: 60%;
    }
  }
  &__list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 100%;
  }
  &__item {
    // padding: 0 1rem;
  }
  &__link {
    cursor: pointer;
    position: relative;
    text-decoration: none;
    color: $white;
    font-size: 1.125rem;
    font-family: "SanSoft";
    font-weight: 400;
    padding: 0 10px;
    &:before {
      position: absolute;
      bottom: -5px;
      left: 0;
      content: "";
      width: calc(100% + 0px);
      height: 3px;
      background-color: $white;
      transform: scaleX(0);
      transition: 0.4s ease-in-out;
    }
    &:hover:before {
      transform: scaleX(1);
      transition: 0.4s ease-in-out;
    }
  }
}
.navbar__button {
  color: $white;
  background: transparent;
  border: 1px solid $white;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.navbar-fixed {
  position: fixed;
  z-index: 100;
  top: 0;
  width: 100%;
  height: 70px;
  // background: linear-gradient(to right, $gradientLight, $gradientDark);
  background-color: $fixedNav;
  padding: 1rem 0;
  @media screen and (max-width: 990px) {
    display: none;
  }
}

///////////////////////////////////////////
//NAVBAR MOBILE
/////////////////////////////////////////
.mobilenav {
  position: sticky;
  top: 0;
  padding: 1rem 0;
  width: 100vw;
  height: 70px;
  margin: 0 auto;
  background-color: $fixedMobileNav;
  z-index: 10;
  @media screen and (min-width: 990px) {
    display: none;
  }
}
.navActive {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 70px;
  margin: 0 auto;
  background-color: $white;
  z-index: 10;
  // border-bottom: 2px solid $violet;
}
.mobilenav__wrapper {
  padding: 0 2rem;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  // background-color: green;
}
.mobilenav__hamburger {
  padding: 1rem;
  cursor: pointer;
}
.mobilenav__hidden {
  position: absolute;
  top: 60px;
  background-color: rgb(255, 255, 255);
  transition: 0.4s;
  transform: translateX(-100%);
  width: 100%;
  height: 100vh;
  padding-top: 3rem;
}
.mobilenav__active {
  position: absolute;
  top: 60px;
  width: 100%;
  height: 100vh;
  padding-top: 3rem;
  transition: 0.4s;
  background-color: rgb(255, 255, 255);
}
.mobilenav__list {
  list-style: none;
  padding: 2rem;
}
.mobilenav__list-item {
  padding: 0.25rem 0;
}

.logomobile__active {
  padding: 0.5rem 0.75rem;
}
.mobilenav__open {
  width: 25px;
  height: 2px;
  top: -10px;
  left: 5px;
  background-color: $white;
  position: relative;

  transform-origin: 0 0;
  transition: 0.4s;
  &:after,
  &:before {
    position: absolute;
    content: "";
    background-color: $white;
    width: 25px;
    height: 2px;
    transition: 0.4s;
  }
  &:after {
    top: 16px;
  }
  &:before {
    top: 8px;
  }
}
.mobile__nav__close {
  width: 25px;
  height: 2px;
  top: -2px;
  left: 5px;
  background-color: $black;
  position: relative;

  transform: rotate(45deg);
  transform-origin: 0 0;
  transition: 0.4s;

  &:after {
    position: absolute;
    content: "";
    background-color: $black;
    transform: rotate(-270deg);
    width: 25px;
    height: 2px;
    transition: 0.4s;
  }
}
.linkMobile {
  text-decoration: none;
  color: $black;
  font-size: 2.5rem;
  font-family: "SanSoft";
  font-weight: bold;
  line-height: 45px;
}

.mobilenav__button {
  font-family: "Sansoft";
  font-weight: bold;
  font-size: 2.5rem;
  color: $black;
  background: transparent;
  border: 1px solid $black;
  width: 55px;
  height: 55px;
  cursor: pointer;
}
// .mobilenav-fixed {
//   position: fixed;
//   z-index: 100;
//   top: 0;
//   width: 100%;
//   height: 70px;
//   // background: linear-gradient(to right, $gradientLight, $gradientDark);
//   background-color: $fixedNav;
//   background-color: $white;
//   color: $black;
//   padding: 1rem 0;
// }
///////////////////////////////////////////
//HEADER
/////////////////////////////////////////
.header {
  position: relative;
  width: 100vw;
  height: 100vh;
  top: -70px;

  background: url("./assets/images/Hero.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 30% 100%;

  @media screen and (max-width: 990px) {
    background: url("./assets/images/HeroMobile.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 30% 100%;
  }
}
.title-container {
  position: absolute;
  bottom: 0;
  &__title {
    font-family: "SanReg";
    font-weight: 400;
    color: $white;
    font-size: clamp(4.25rem, 4.5vw, 6rem);
    line-height: 1.1;
    padding-top: 25%;
  }
  &__button {
    cursor: pointer;
    width: 300px;
    height: 50px;
    border-radius: 123px;
    background-color: transparent;
    text-align: center;
    font-family: "NotoBold";
    font-size: 1.25rem;
    margin: 4rem 0;
    border: 1px solid $white;
    color: $white;
    &:hover {
      color: $gradientLight;
      background-color: $white;
    }
  }
}

///////////////////////////////////////////
//INTRO
/////////////////////////////////////////
.intro__content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}
.intro__content-image {
  // background-color: green;
  position: relative;
  width: 100%;
  // top: 0;
  // left: 0;
  // background-color: $blue;
  padding: 8rem 0 6rem 2rem;
  &:before {
    position: absolute;
    top: 0;
    left: -35%;
    content: "";
    width: 120%;
    height: 100%;
    background-color: $blue;
    z-index: -2;
  }
}
.intro__content-image img {
  width: 100%;
}
.intro__content-info {
  // background-color: red;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 0 2rem;
  &--title {
    padding: 2rem 0;
  }
  &--description {
  }
}
.intro__banner {
  padding: 10rem 0 0;
  margin: 0 auto;
  text-align: center;
}

///////////////////////////////////////////
//ABOUT
/////////////////////////////////////////
.about {
  padding-top: 70px;
}
.about__content {
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 2rem;
  padding: 0 0 5rem;
}
.about__content-info {
  width: 100%;
}
.about__content-info--title {
}
.about__content-info--description {
  padding: 2rem 0;
}
.about__content-button {
  margin-bottom: 2rem;
}
.about__content-stats {
  position: relative;
  width: 100%;
  padding-left: 5rem;
  @media screen and (max-width: 1440px) {
    top: 5rem;
  }
}
.about__content-stats--stat {
  width: 200px;
  height: 200px;
  // border: 1px solid red;
  display: flex;
  flex-direction: column;
  justify-content: center;
  &-one {
    // position: absolute;
  }
  &-two {
    position: absolute;
    left: 350px;
    top: 160px;
    @media screen and (max-width: 1440px) {
      left: 300px;
      top: 100px;
    }
  }
  &-three {
    position: absolute;
    top: 300px;
    @media screen and (max-width: 1440px) {
      top: 200px;
    }
  }
}
.stat-text-gray {
  font-family: "NotoReg";
  font-size: 1rem;
  color: $gray;
  @media screen and (max-width: 1440px) {
    font-size: 0.9rem;
  }
}
.stat-number {
  padding: 1rem 0;
  font-family: "SanReg";
  font-size: 4rem;
  font-weight: 700;
  @media screen and (max-width: 1440px) {
    font-size: 3rem;
  }
}
.stat-text-pink {
  font-family: "SanReg";
  font-size: 2.125rem;
  color: $pink;
  @media screen and (max-width: 1440px) {
    font-size: 1.5rem;
  }
}

///////////////////////////////////////////
//BENEFITS
/////////////////////////////////////////
.benefits {
  padding-top: 70px;
}
.benefits__slider {
  padding: 5rem 0 0;
}
.slider__text {
  font-family: "SanSoft";
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  padding: 2rem;
  @media screen and (max-width: 1440px) {
    padding: 0;
  }
}
///////////////////////////////////////////
//VALUES
/////////////////////////////////////////

.values__content {
  position: relative;
  display: flex;
  justify-content: center;
  // align-items: center;
  gap: 3rem;
  padding: 10rem 0 0;
}
.values__content-image {
  padding-top: 10rem;
  width: 100%;
  // position: absolute;
}
.values__content-image img {
  width: 100%;
}
.values__content-info {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: $blue;
  padding: 4rem 4rem 4rem 4rem;
  &:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: $blue;
    z-index: -2;
    top: 0;
    left: -20%;
  }
  &--title {
    color: $white;
    padding-bottom: 2rem;
  }
  &--description {
    color: $white;
    font-size: 1.125rem;
    line-height: 27px;
    font-family: "NotoReg";
  }
}
.values__content-button {
  display: block;
  margin: 0 auto 4rem;
}
.values__banner {
  padding: 8rem 0 4rem;
  text-align: center;
}

///////////////////////////////////////////
//PEOPLE
/////////////////////////////////////////

.people__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin: 0 auto;
  padding: 5rem 0;
  &--images {
    width: 100%;
    display: flex;
    gap: 1rem;
    margin: 4rem;
  }
  @media screen and (max-width: 1440px) {
    width: 60%;
  }
  @media screen and (max-width: 1200px) {
    width: 70%;
  }
}
.images__left {
  position: relative;
  width: 100%;
  gap: 1rem;
  font-family: "NotoReg";
  font-size: 1.25rem;
  &:before {
    position: absolute;
    top: 90%;
    left: -20%;
    content: "Wierzymy  w siłę ludzi.";
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: $white;
    width: 49%;
    height: 15%;
    background-image: linear-gradient(to right, $gradientLight, $gradientDark);
  }
  &--english {
    position: relative;
    width: 100%;
    gap: 1rem;
    font-family: "NotoReg";
    font-size: 1.25rem;
    &:before {
      position: absolute;
      top: 90%;
      left: -20%;
      content: "We believe in the power of people";
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      color: $white;
      width: 49%;
      height: 15%;
      background-image: linear-gradient(
        to right,
        $gradientLight,
        $gradientDark
      );
    }
  }
}
.images__left img {
  // position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.images__left--english img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.images__right {
  position: relative;
  width: 100%;
  font-family: "NotoReg";
  font-size: 1.25rem;
  &--top {
    padding-bottom: 1rem;
    &:before {
      position: absolute;
      top: -7%;
      right: 10%;
      text-align: center;
      content: "Przyjmujemy i akceptujemy";
      display: flex;
      justify-content: center;
      align-items: center;
      color: $white;
      width: 49%;
      height: 15%;
      background-image: linear-gradient(
        to right,
        $gradientLight,
        $gradientDark
      );
    }
  }
  &--bottom {
    &:before {
      position: absolute;
      top: 55%;
      right: -45%;
      content: "Inspirujemy i motywujemy";
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      color: $white;
      width: 49%;
      height: 15%;
      background-image: linear-gradient(
        to right,
        $gradientLight,
        $gradientDark
      );
    }
  }
}
.images__right img {
  width: 100%;
  max-height: 100%;
  object-fit: cover;
}
.images__right--english {
  position: relative;
  width: 100%;
  font-family: "NotoReg";
  font-size: 1.25rem;
  &--top {
    padding-bottom: 1rem;
    &:before {
      position: absolute;
      top: -7%;
      right: 10%;
      text-align: center;
      content: "We welcome and accept";
      display: flex;
      justify-content: center;
      align-items: center;
      color: $white;
      width: 49%;
      height: 15%;
      background-image: linear-gradient(
        to right,
        $gradientLight,
        $gradientDark
      );
    }
  }
  &--bottom {
    &:before {
      position: absolute;
      top: 55%;
      right: -45%;
      content: "We inspire and motivate";
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      color: $white;
      width: 49%;
      height: 15%;
      background-image: linear-gradient(
        to right,
        $gradientLight,
        $gradientDark
      );
    }
  }
}
.images__right--english img {
  width: 100%;
  max-height: 100%;
  object-fit: cover;
}
.people__content--info {
  font-family: "NotoReg";
  font-size: 1.125rem;
  padding: 2rem;
}

///////////////////////////////////////////
//CSR
/////////////////////////////////////////

.csr {
  padding-top: 70px;
}
.csr__content-info--description {
  font-family: "NotoReg";
  font-size: 1.125rem;
  padding: 2rem 0;
}
.csr__content {
  padding: 5rem 0 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.csr__content-stats {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;

  &--cert {
    max-width: 150px;
  }
  &--cert img {
    width: 100%;
  }
  &--procentage {
    // width: 100%;
    gap: 8rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
.procentage-number {
  font-family: "SanBlack";
  font-size: 5.5rem;
}
.procentage-text {
  font-family: "SanSoft";
  font-size: 1.5rem;
  font-weight: bold;
}
.csr__content-image {
  width: 100%;
  position: relative;
  &:before {
    position: absolute;
    right: 0;
    top: -10%;
    content: "";
    width: 70%;
    height: 120%;
    background-color: $blue;
    z-index: -1;
  }
}
.csr__content-image img {
  width: 100%;
}
//////////////////////////////////
//JOBS
//////////////////////////////////
.jobs {
  padding-top: 70px;
}
.jobs__buttons {
  padding: 5rem 0 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem 10rem;
  flex-wrap: wrap;
}
//////////////////////////////////
//FOOTER
//////////////////////////////////
.footer {
  background-color: $violet;
}
.footer__content {
  width: 50%;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  justify-content: center;
  color: $white;
  gap: 15rem;
  font-family: "NotoReg";
  line-height: 25px;
  &--left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
.social {
  display: flex;
  gap: 2rem;
}
.social-icon {
  padding: 1rem;
}
.email {
  padding: 2rem 0;
}
.location-top {
  padding: 2rem 0;
  display: flex;
  gap: 5rem;
}
.city {
  font-weight: bold;
  font-size: 1.125rem;
}
.footer-copyright {
  background-color: $white;
}
.footer-copyright-text {
  text-align: center;
}
